<h2 mat-dialog-title>Add Manager</h2>

<form [formGroup]="managerForm">

  <mat-dialog-content>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Manager Name</mat-label>
      <input matInput formControlName="managerName">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Assigned Project</mat-label>
      <input matInput formControlName="assignedProject">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Created Date</mat-label>
      <input matInput type="date" formControlName="createdDate">
    </mat-form-field>

  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="close()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </mat-dialog-actions>

</form>
