.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
   background-color: #393162; 

}

.menu-icon {
  cursor: pointer;
  margin-right: 16px;
}

.title {
  font-size: 20px;
  font-weight: 500;
}

.spacer {
  flex: 1 1 auto;
}
